body{
  font-family: 'PT Sans', sans-serif !important;
}

.img{
    width: 100% !important;
    background-attachment: fixed;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;   
  }

  .btn-primary{
    color: white !important;
    background-color: white!important;
    border: none !important;
  }




